.users {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #7f7fff ; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

h2 {
  margin-left: 4px;
}
/* The navigation menu links */
.users p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.users p:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  width: 80%;
  float: right;
  margin-left: 180px; /* Same as the width of the sidebar */
  padding-bottom: 60px;
  position: relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .users {padding-top: 15px;}
  .users p {font-size: 18px;}
}

li {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
}

.send-message {
  border-radius: 10px;
  position: fixed;
  bottom: 3px;
  /* left: -25%; */
  padding: 1px;
  background-color: black;
  text-align: center;
  height: 60px;
  width:79%;
}


#message {
  border-radius: 10px;
  height: 50px;
  float: left;
  font-size: 1.1em;
  margin-top: 2px;
  margin-left: 2px;
  width: 70%;
  /* overflow-y: ; */
}

.submitB {
  height: 80px;
  float: left;
  margin-top: 19px;
  margin-right: 10px;
  margin-left: 10px;
}
